<p>anadizin works!</p>


<div class="wrapper">
  <h1 class="title">Sayfalama</h1>
  <nav>
    <a class="btn btn-primary mr-2" routerLink="/anadizin">Anasayfa</a>
    <a class="btn btn-primary mr-2" routerLink="/about">Hakkımızda</a>
    <a class="btn btn-primary mr-2" routerLink="/create/login">Login</a>
    <a class="btn btn-primary mr-2" routerLink="/create/register">Register</a>
    <a class="btn btn-primary mr-2" routerLink="/urun">Ürün</a>
    <hr>
    <hr>
    <a class="btn btn-primary mr-2" routerLink="/iletisim">iletişim</a>
    <hr>
    <hr>
    <a class="btn btn-primary mr-2" routerLink="/blog/register">Blog/register</a>
    <a class="btn btn-primary mr-2" routerLink="/blog/contact">Blog/contact</a>
  </nav>

</div>
