




 <br><br>
 <button type="button" class="btn btn-primary" (click)="openModal(template)">Oluştur</button>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Product Oluştur</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
</ng-template>


<h2>DataTables</h2>
<table class="table table-striped table-bordered table-sm row-border hover" id="datatableexample">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Email</th>
      <th>Şifre</th>
      <th>Silmek</th>
      <th>Güncellemek</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data" >
     
      <td>{{item.registerId}}</td>
      <td>{{item.registerName}}</td>
      <td>{{item.registerSurname}}</td>
      <td>{{item.registerEmail}}</td>
      <td>{{item.registerPassword}}</td>
      <td><button class="btn btn-danger">Delete</button></td>
      <td><button class="btn btn-info">Update</button></td>
    </tr>

  </tbody>
</table>